{% extends 'base.html' %}


{% block content %}

<main class="mt-5 pt-3">
  {% csrf_token %}
  <div class="container-fluid px-4 mt-5">
  
        <h1 class="fs-4 mb-3">Otros roles</h1>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-md-6">
              <a href="/otros/create/" class="btn btn-outline-primary my-2 d-flex justify-content-center align-items-center mx-2">
                <span class="material-icons-outlined ">
                  add 
                  </span>
                <span>Crear otro elemento</span>
              </a>
          </div>
            <!-- <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">.col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0</div> -->
          </div>

        </div>


<div class="row"> 
  {% for otro in otros %}
    <div class="col-sm-6 my-2" >

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{otro.name}}</h5>
          <p class="card-text text-primary">Horas de vuelo: {{otro.horas_voladas}}</p>
          <p class="card-text text-success">Rol: {{otro.rol}}</p>
          <p class="card-text text-danger">Fecha de vencimiento: {{otro.expiration}}.</p>
          <a href="{% url 'otro_detail' otro.id %}" class="btn btn-primary">Ver o editar</a>
          <button type="submit" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar" data-url="{% url 'delete_otro' otro.id %}">
            Eliminar
          </button>
        </form>
        </div>
      </div>
      

    </div>
  {% endfor %}
  </div>

  </div>

</main>
{% load static %}
<script src="{% static 'js/swal.js' %}"></script>
{% endblock %}
