{% extends 'base.html' %}

{% block content %}
    
   
    <main class="mt-5 pt-3">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form method="POST" class="card card-body ">
                    <h1 class="text-center">
                        Editar aeronave
                    </h1>

                    {{error}}
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="title">Titulo:</label>
                        <input type="text" name="title" id="title" value="{{aeronave.title}}"
                        class="form-control" placeholder="Escribe un titulo para la aeronave">
                    </div>

                    <div class="mb-3">
                        <label for="description">Matricula:</label>
                        <input type="text" name="matricula" id="matricula" value="{{aeronave.matricula}}"
                        class="form-control" placeholder="Escribe la matricula de la aeronave">
                    </div>

                    <div class="mb-3">
                        
                        <label for="description">Horas de vuelo disponibles:</label>
                        <input type="number" step="any" name="horas_disponibles" id="horas_disponibles" value="{{ aeronave.horas_disponibles }}"
                        class="form-control" placeholder="Escribe el número de horas disponibles">
                    </div>
                    
                    <div class="mb-3">
                       
                        <label for="description">Horas de vuelo usadas:</label>
                        <input type="number" step="any" name="horas_voladas" id="horas_voladas" value="{{aeronave.horas_voladas}}"
                        class="form-control" placeholder="Escribe el número de horas usadas">
                    </div>

                    <div class="mb-3">
                        <label for="description">Ciclos motor:</label>
                        <input type="number" name="ciclos_motor" id="ciclos_motor" value="{{aeronave.ciclos_motor}}"
                        class="form-control" placeholder="Escribe el número de ciclos de motor">
                    </div>

                    <div class="mb-3">
                        <label for="description">Fecha de expiración del 337:</label>
                        <input type="date" name="expiration" id="expiration" value="{{ aeronave.expiration|date:"Y-m-d" }}"
                        class="form-control" placeholder="Fecha de expiración del 337">
                    </div>



                    <button type="submit" class="btn btn-primary">
                        Editar
                    </button>
                </form>
            </div>
        </div>
    </main>
    
{% endblock %}