{% extends 'base.html' %}


{% block content %}

<main class="mt-5 pt-3">
  <div class="container-fluid px-4 mt-5">
  
        <h1 class="fs-4 mb-3">Aeronaves</h1>

        <div class="d-flex justify-content-start align-items-center my-2">
          <a href="/aeronaves/create/" class="btn btn-outline-primary my-2 d-flex justify-content-center align-items-center mx-2">
            <span class="material-icons-outlined ">
              add 
              </span>
            <span>Crear aeronave</span>
          </a>
        </div>

<div class="row"> 
  {% for aeronave in aeronaves %}
    <div class="col-sm-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{aeronave.title}}</h5>
          <p class="card-text">Fecha de vencimiento: {{aeronave.expiration}}.</p>
          <a href="{% url 'aeronave_detail' aeronave.id %}" class="btn btn-primary">Ver o editar</a>
        </div>
      </div>
      

    </div>
  {% endfor %}
  </div>

  </div>

</main>
{% endblock %}