{% extends 'base.html' %}


{% block content %}
{% load app_extras %}
{% load static %}
<main class="mt-5 pt-3">
  
<div class="container-fluid px-4">
  <div class="row g-3 my-2">
  <div class="row my-5">
      <h1 class="fs-4 mb-3">Expensas</h1>

      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
     
      <div class="d-flex justify-content-start align-items-center my-2">
        <a href="/expensas/create/" class="btn btn-outline-primary d-flex justify-content-center align-items-start mx-2">
          <span class="material-icons-outlined ">
            add 
            </span>
          <span>Crear expensa</span>
        </a>


      </div>
      


   
      <div class="table-responsive">
      
          <table class="table table-striped bg-white rounded shadow-sm">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Total</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Fecha de emisión comprobante</th>
                  <th scope="col">Rubro</th>
                  <th scope="col">Cuit</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                
                {% for gasto in pages %}
                <tr>
                    <td>{{ gasto.id }}</td>
                    <td>{{ gasto.title }}</td>
                    <td>${{ gasto.total }}</td>
                    <td>{{ gasto.description }}</td>
                    <td>{{ gasto.emision }}</td>
                    <td>{{ gasto.rubro }}</td>
                    <td>{{ gasto.cuit }}</td>
                    <td>{{ gasto.categoria }}</td>



                    <td>
                      <a class="w-10 btn btn-sm btn-primary" href="{% url 'expensa_detail' gasto.id %}">
                        <span data-feather="edit"></span>
                        Editar
                      </a>
                    </td>
                    <td>
                      <form action="{% url 'delete_expensa' gasto.id %}" method="POST">
                        {% csrf_token %}
                      <button class="w-10 btn btn-sm btn-danger">
                        Eliminar
                      </button>
                    </form>
                    </td>
                  </tr>
            
            
                {% endfor %}
              </tbody>
          </table>
      </div>  
      <div class="app-table">
      <div class="table-output">
<tbody id="table-body" class="table-body"> </tbody></div>
    </div>
  </div>

        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">


            {% if pages.has_previous %}
              <li class="page-item">
                <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="{% my_url pages.previous_page_number 'page' request.GET.urlencode %}">previous</a>
              </li>

                {% endif %}
      
      
                <li class="page-item">
                  
                <a class="page-link" href="{% my_url pages.number 'page' request.GET.urlencode %}">{{ pages.number }}</a>
              
               
                </li>
                <li class="page-item">
                  
                  <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">{{ pages.paginator.num_pages }}</a>
                
                 
                  </li>
            
          
       
            {% if pages.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% my_url pages.next_page_number 'page' request.GET.urlencode %}">next</a>
             </li>
             <li class="page-item">
            <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
          </li>
            {% endif %}
          </ul>
          </nav>
   
  </div>
  </div>
</div>

{% endblock %}