{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body ">
                <h1 class="text-center">
                    Editar operación
                </h1>

                {{error}}
                {% csrf_token %}

                <div class="mb-3">
                    <label for="title">Title:</label>
                    {{ form.title }}
                </div>

                <div class="mb-3">
                    <i class="fa-regular fa-plane"></i>
                    <label for="plane">Avión:</label>
                    {{ form.aeronave }}
                </div>

                <div class="mb-3">
                    <i class="fa-regular fa-plane"></i>
                    <label for="plane">Piloto:</label>
                    {{ form.pilot }}
                </div>

                <div class="mb-3">
                    <label for="alumn">Alumnos / Inspector / Copiloto (Cuando ocurra):</label>
                    <input type="text" name="alumn" id="alumn"
                    class="form-control" placeholder="Escribe su nombre" value="{{ client.alumn }}">
                </div>

                <div class="mb-3">
                    <label for="mechanic">Mecánico:</label>
                    {{ form.mechanic }}
                </div>

                <div class="mb-3">
                    <label for="title">Combustible cargado para el vuelo:</label>
                    <input type="number" name="fuel" id="fuel"
                    class="form-control" placeholder="Escribe la cantidad de litros" value="{{ client.fuel }}">
                </div>

                <div class="mb-3">
                    <label for="title">Cantidad de combustible al aterrizaje:</label>
                    <input type="number" name="fuel_on_landing" id="fuel_on_landing"
                    class="form-control" placeholder="Escribe la cantidad de litros" value="{{ client.fuel_on_landing }}">
                </div>

                <div class="mb-3">
                    <label for="title">Lugar de salida:</label>
                    <input type="text" name="takeoff_place" id="takeoff_place"
                    class="form-control" placeholder="Escribe el nombre del lugar" value="{{ client.takeoff_place }}">
                </div>

                <div class="mb-3">
                    <label for="title">Lugar de aterrizaje:</label>
                    <input type="text" name="landing_place" id="landing_place"
                    class="form-control" placeholder="Escribe el nombre del lugar" value="{{ client.landing_place }}">
                </div>

                <div class="mb-3">
                    <label for="title">Hora de puesta en marcha motor 1:</label>
                    <input type="time" name="engine_ignition_1" id="engine_ignition_1"
                    class="form-control" placeholder="Hora de puesta en marcha motor 1" value="{{ client.engine_ignition_1 }}">
                </div>

                <div class="mb-3">
                    <label for="title">Hora de puesta en marcha motor 2:</label>
                    <input type="time" name="engine_ignition_2" id="engine_ignition_2"
                    class="form-control" placeholder="Hora de puesta en marcha motor 2" value="{{ client.engine_ignition_2 }}">
                </div>

                <div class="mb-3">
                    <label for="title">Horario de despegue:</label>
                    <input type="time" name="takeoff_time" id="takeoff_time"
                    class="form-control" placeholder="Horario de despegue" value="{{ client.takeoff_time }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="title">Horario de aterrizaje:</label>
                    <input type="time" name="landing_time" id="landing_time"
                    class="form-control" placeholder="Horario de aterrizaje" value="{{ client.landing_time }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="title">Hora de corte motor 1:</label>
                    <input type="time" name="engine_cut_1" id="engine_cut_1"
                    class="form-control" placeholder="Hora de corte motor 1" value="{{ client.engine_cut_1 }}">
                </div>

                <div class="mb-3">
                    <label for="title">Hora de corte motor 2:</label>
                    <input type="time" name="engine_cut_2" id="engine_cut_2"
                    class="form-control" placeholder="HHora de corte motor 2" value="{{ client.engine_cut_2 }}">
                </div>

                <div class="mb-3">
                    <label for="title">Cantidad de aterrizajes:</label>
                    <input type="number" name="number_of_landings" id="number_of_landings"
                    class="form-control" placeholder="Escribe la cantidad de aterrizajes" value="{{ client.number_of_landings }}">
                </div>

                <div class="mb-3">
                    <label for="title">Cantidad de amerizajes:</label>
                    <input type="number" name="number_of_splashdowns" id="number_of_splashdowns"
                    class="form-control" placeholder="Escribe la cantidad de amerizajes" value="{{ client.number_of_splashdowns }}">
                </div>

                <div class="mb-3">
                    <label for="title">Ciclos de puesta en marcha:</label>
                    <input type="number" name="start_up_cycles" id="start_up_cycles"
                    class="form-control" placeholder="Escribe los ciclos de puesta en marcha" value="{{ client.start_up_cycles}}">
                </div>

                <div class="mb-3">
                    <label for="title">Cantidad de ciclos de lanzamientos de agua:</label>
                    <input type="number" name="water_release_cycles" id="water_release_cycles"
                    class="form-control" placeholder="Escribe los ciclos de lanzamientos de agua" value="{{ client.water_release_cycles }}">
                </div>

                <div class="mb-3">
                    <label for="title">Cantidad de agua lanzada:</label>
                    <input type="number" name="water_release_amount" id="water_release_amount"
                    class="form-control" placeholder="Escribe la cantidad de agua lanzada " value="{{ client.water_release_amount }}">
                </div> 

                <div class="mb-3">
                    <label for="title">Ciclos con carga externa:</label>
                    <input type="number" name="cycles_with_external_load" id="cycles_with_external_load"
                    class="form-control" placeholder="Escribe los ciclos de lanzamientos de agua" value="{{ client.cycles_with_external_load }}">
                </div>

                <div class="mb-3">
                    <label for="title">Peso con carga externa:</label>
                    <input type="number" name="weight_with_external_load" id="weight_with_external_load"
                    class="form-control" placeholder="Escribe el peso con carga externa" value="{{ client.weight_with_external_load }}">
                </div>

                <div class="mb-3">
                    <label for="mechanic">Motivo del vuelo:</label>
                    {{ form.reason_of_flight }}
                </div>

                <div class="mb-3">
                    <label for="mechanic">Operador de la aeronave:</label>
                    {{ form.operator }}
                </div>
                
                
                <div class="mb-3">
                    <label for="client">Cliente:</label>
                    {{ form.client }}
                </div>

                <div class="mb-3">
                    <label for="operation_note">Nota adicional sobre operaciones:</label>
                    <input type="text" name="operation_note" id="operation_note"
                    class="form-control" placeholder="Escribe la nota adicional" value="{{ client.operation_note }}">
                </div>

                <div class="mb-3">
                    <label for="maintenance_note">Nota adicional sobre mantenimiento:</label>
                    <input type="text" name="maintenance_note" id="maintenance_note"
                    class="form-control" placeholder="Escribe la nota adicional" value="{{ client.maintenance_note }}">
                </div>

                <button class="btn btn-primary">
                    Editar
                </button>
            </form>

        </div>
    </div>
</main>


{% endblock%}