{% extends 'base.html' %}


{% block content %}
{% load app_extras %}
{% load static %}
{% load crispy_forms_tags %}
<main class="mt-5 pt-3">
<div class="container-fluid px-4">

      <h1 class="fs-4 mb-3">Operaciones</h1>
     
      <div class="d-flex justify-content-start align-items-center my-2">
        <a href="/gastos/create/" class="btn btn-outline-primary my-2 d-flex justify-content-center align-items-center mx-2">
          <span class="material-icons-outlined ">
            add 
            </span>
          <span>Crear operación</span>
        </a>

        <a href="{% url 'send_mail_with_excel' %}" class="btn btn-outline-primary my-2 d-flex justify-content-center align-items-center mx-2">
          <span class="material-icons-outlined ">
            download 
            </span>
            <span>Export excel</span>
        </a>
        <a href="#layouts" data-bs-toggle="collapse" class="btn btn-outline-primary my-2 d-flex justify-content-center align-items-center mx-2">
          <span class="material-icons-outlined ">
            filter_list 
            </span>
            <span>Expandir filtros</span>
          </a>
  

                
         
      </div>
      
 <div class="collapse" id="layouts">
         

                      <form method="GET" action="{% url 'gastos' %}">
     
             
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ form.title|crispy }}
                        <button class="btn btn-sm btn-outline-primary" type="submit">Filtrar</button>
                 
                
                      </form>
         
                </div>

   
      <div class="table-responsive">
      
          <table class="table bg-white rounded shadow-sm">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Piloto</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Creador</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Alumno/Instructor</th>
                  <th scope="col">Mecánico</th>
                  <th scope="col">Combustible</th>
                  <th scope="col">Lugar de salida</th>
                  <th scope="col">Lugar de aterrizaje</th>
                  <th scope="col">Encendido motor 1</th>
                  <th scope="col">Encendido motor 2</th>
                  <th scope="col">Hora de despegue</th>
                  <th scope="col">Hora de aterrizaje</th>
                  <th scope="col">Hora de corte motor 1</th>
                  <th scope="col">Hora de corte motor 2</th>
                  <th scope="col">Número de aterrizajes</th>
                  <th scope="col">Nota de operación</th>
                  <th scope="col">Nota de mantenimiento</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Combustible cargado</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                
                {% for product in pages %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.pilot }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.user.username }}</td>
                    <td>{{ product.created }}</td>

                    <td>{{ product.alumn }}</td>
                    <td>{{ product.mechanic }}</td>
                    <td>{{ product.fuel }}</td>
                    <td>{{ product.takeoff_place }}</td>
                    <td>{{ product.landing_place }}</td>
                    <td>{{ product.engine_ignition_1 }}</td>
                    <td>{{ product.engine_ignition_2 }}</td>
                    <td>{{ product.takeoff_time }}</td>
                    <td>{{ product.landing_time }}</td>
                    <td>{{ product.engine_cut_1 }}</td>
                    <td>{{ product.engine_cut_2 }}</td>
                    <td>{{ product.number_of_landings }}</td>

                    <td>{{ product.operation_note }}</td>
                    <td>{{ product.maintenance_note }}</td>
                    <td>{{ product.client }}</td>
                    <td>{{ product.loaded_fuel }}</td>

                    <td>
                      <a class="w-10 btn btn-sm btn-primary" href="{% url 'gasto_detail' product.id %}">
                        <span data-feather="edit"></span>
                        Editar
                      </a>
                    </td>
                    <td>
                      <form action="{% url 'delete_gasto' product.id %}" method="POST">
                        {% csrf_token %}
                      <button class="w-10 btn btn-sm btn-danger">
                        Eliminar
                      </button>
                    </form>
                    </td>
                  </tr>
            
            
                {% endfor %}
              </tbody>
          </table>
      </div>  
      <div class="app-table">
      <div class="table-output">
<tbody id="table-body" class="table-body"> </tbody></div>
    </div>
  </div>

        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">


            {% if pages.has_previous %}
              <li class="page-item">
                <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="{% my_url pages.previous_page_number 'page' request.GET.urlencode %}">previous</a>
              </li>

                {% endif %}
      
      
                <li class="page-item">
                  
                <a class="page-link" href="{% my_url pages.number 'page' request.GET.urlencode %}">{{ pages.number }}</a>
              
               
                </li>
                <li class="page-item">
                  
                  <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">{{ pages.paginator.num_pages }}</a>
                
                 
                  </li>
            
          
       
            {% if pages.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% my_url pages.next_page_number 'page' request.GET.urlencode %}">next</a>
             </li>
             <li class="page-item">
            <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
          </li>
            {% endif %}
          </ul>
          </nav>
   
  </div>
  </div>
</div>



<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>

{% endblock %}
