{% extends 'base.html' %}


{% block content %}

<main class="mt-5 pt-3">
  {% csrf_token %}
  <div class="container-fluid px-4 mt-5">
  
        <h1 class="fs-4 mb-3">Pilotos</h1>

        <div class="d-flex justify-content-start align-items-center my-2">
          <a href="/pilotos/create/" class="btn btn-outline-primary my-2 d-flex justify-content-center align-items-center mx-2">
            <span class="material-icons-outlined ">
              add 
              </span>
            <span>Crear piloto</span>
          </a>
        </div>

<div class="row"> 
  {% for piloto in pilotos %}
    <div class="col-sm-6 my-2" >

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{piloto.name}}</h5>
          <p class="card-text text-danger">Fecha de vencimiento: {{piloto.expiration}}.</p>
          <a href="{% url 'piloto_detail' piloto.id %}" class="btn btn-primary">Ver o editar</a>
          <button type="submit" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar" data-url="{% url 'delete_piloto' piloto.id %}">
            Eliminar
          </button>
        </form>
        </div>
      </div>
      

    </div>
  {% endfor %}
  </div>

  </div>

</main>
{% load static %}
<script src="{% static 'js/swal.js' %}"></script>
{% endblock %}