{% extends 'base.html' %}


{% block content %}

<main class="mt-5 pt-3">
  {% csrf_token %}
  <div class="container-fluid px-4 mt-5">
  
        <h1 class="fs-4 mb-3">Aeronaves</h1>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
     {% endif %}
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-md-6">
              <a href="/aeronaves/create/" class="btn btn-outline-primary my-2 d-flex justify-content-center align-items-center mx-2">
                <span class="material-icons-outlined ">
                  add 
                  </span>
                <span>Crear aeronave</span>
              </a>
          </div>
            <!-- <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">.col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0</div> -->
          </div>

        </div>


<div class="row"> 
  {% for aeronave in aeronaves %}
    <div class="col-sm-6 my-2" >

      <div class="card">
        <div class="card-body">
          <div class="d-flex">  <span class="material-icons-outlined">
            flight
            </span>
            <span class="px-2">
          <h4 class="card-title">{{aeronave.title}}</h4>

        </span>
        </div>
        <div class="d-flex">  <span class="material-icons-outlined">
          person
          </span>
          <span class="px-2">

        <h5 class="card-text">{{aeronave.user}}</h5>
      </span>
      </div>
        <div class="d-flex py-2">
          <i class="bi bi-upc h4"></i>
          <span class="px-2 pt-2">
        <h6 class="card-text">Matrícula: {{aeronave.matricula}}</h6>
      </span>
      </div>
      <div class="d-flex py-2">
        <i class="bi bi-arrow-repeat h4"></i>
        <span class="px-2 pt-2">
      <h6 class="card-text text-primary">Ciclos motor: {{aeronave.ciclos_motor}}</h6>
    </span>
    </div>
      <div class="d-flex py-2">
        <span class="material-symbols-outlined">
        clock_loader_80
        </span>
        <span class="px-2 py-1">
      <h6 class="card-text text-success">Horas disponibles: {{aeronave.horas_disponibles}}</h6>
    </span>
    </div>
    <div class="d-flex py-2">
      <span class="material-symbols-outlined">
      clock_loader_20
      </span>
      
      <span class="px-2 py-1">
    <h6 class="card-text text-primary">Horas de vuelo usadas: {{aeronave.horas_voladas}}</h6>
  </span>
  </div>
  <div class="d-flex">
    <i class="bi bi-clipboard-x h4 "></i>
    <span class="px-2 pt-2">
  <h6 class="card-text text-danger">Vencimientos</h6>
</span>
</div>
  <div class="d-flex px-2 py-2">
  
    <span class="px-4 pt-2 p">
  <h6 class="card-text text-danger">337: {{aeronave.expiration}}</h6>
</span>
</div>
<div class="d-flex py-2 px-2">
  
  <span class="px-4 pt-2">
<h6 class="card-text text-danger">Alquiler anexo 2: {{aeronave.vencimiento_anexo_2}}</h6>
</span>
</div>
<div class="d-flex py-2 px-2">
  
  <span class="px-4 pt-2">
<h6 class="card-text text-danger">Notaciones de requerimiento: {{aeronave.vencimiento_notaciones_requerimiento}}</h6>
</span>
</div>
<div class="d-flex py-2 px-2">
  
  <span class="px-4 pt-2">
<h6 class="card-text text-danger">Inspeccion anual: {{aeronave.vencimiento_inspeccion_anual}}</h6>
</span>
</div>
<div class="d-flex">
  <span class="material-symbols-outlined">
    clock_loader_60
    </span>
    
  <span class="px-2 pt-1 pb-4">
<h6 class="card-text ">Remanente inspecciones varias</h6>
</span>
</div>
<div class="d-flex justify-content-start px-4">
  
  <h6 class="card-text text-success px-2">25hs: {{aeronave.horas_inspecciones_varias_25}}</h6>
  <h6 class="card-text text-success px-2">50hs: {{aeronave.horas_inspecciones_varias_50}}</h6>
  <h6 class="card-text text-success px-2">100hs: {{aeronave.horas_inspecciones_varias_100}}</h6>
  
</div>

 
<a href="{% url 'aeronave_detail' aeronave.id %}" class="btn btn-primary">Ver o editar</a>
<button type="submit" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar" data-url="{% url 'delete_aeronave' aeronave.id %}">
  Eliminar
</button>
         
        </div>
      </div>
      

    </div>
  {% endfor %}
  </div>

  </div>

</main>
{% load static %}
<script src="{% static 'js/swal.js' %}"></script>
{% endblock %}