{% extends 'base.html' %}

{% block content %}

    <main class="mt-5 pt-3">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form method="POST" class="card card-body ">
                    <h1 class="text-center">
                        Editar expensa
                    </h1>

                    {{error}}
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="client">Base:</label>
                        <p class="text-danger">*Opcional, elegir según corresponda*</p>
                        {{ form.base }}
                    </div>

                    <div class="mb-3">
                        <label for="client">Aeronave:</label>
                        <p class="text-danger">*Opcional, elegir según corresponda*</p>
                        {{ form.aeronave }}
                    </div>

                    <div class="mb-3">
                        <label for="client">Traslado:</label>
                        <p class="text-danger">*Opcional, elegir según corresponda*</p>
                        {{ form.traslado }}
                    </div>

                    <div class="mb-3">
                        <label for="client">Reponsable:</label>
                        {{ form.responsable }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="client">Categoría:</label>
                        {{ form.categoria }}
                    </div>

                    <div class="mb-3">
                        <label for="description">Fecha de compra:</label>
                        <input type="date" name="fecha_compra" id="fecha_compra"
                        class="form-control" placeholder="Fecha de compra" value="{{ expensa.fecha_compra|date:"Y-m-d" }}">
                    </div>
                
                    <div class="mb-3">
                        <label for="numero_compra">Número de compra:</label>
                        <input type="number" name="numero_compra" id="numero_compra"
                        class="form-control" placeholder="Número de compra" value="{{expensa.numero_compra}}">
                    </div>

                    <div class="mb-3">
                        <label for="description">Cuit:</label>
                        <input type="text" name="cuit" id="cuit"
                        class="form-control" placeholder="Escribe el cuit" value="{{expensa.cuit}}">
                    </div>

                    <div class="mb-3">
                        <label for="client">Moneda:</label>
                        {{ form.moneda }}
                    </div>

                    <div class="mb-3">
                        <label for="price">Subtotal:</label>
                        <input type="number" name="subtotal" id="subtotal"
                        class="form-control" placeholder="Escribe el subtotal" value="{{subtotal_formatted}}">
                    </div>

                    <div class="mb-3">
                        <label for="client">Concepto no grabado:</label>
                        {{ form.concepto_no_grabado }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="price">Total concepto no grabado:</label>
                        <input type="number" name="concepto_no_grabado_total" id="concepto_no_grabado_total"
                        class="form-control" placeholder="Escribe el total a sumar de concepto no grabado" value="{{concepto_no_grabado_total_formatted}}">
                    </div>

                    <div class="mb-3">
                        <label for="client">Iva:</label>
                        {{ form.iva }}
                    </div>

                    <div class="mb-3">
                        <label for="price">Total iva:</label>
                        <input type="number" name="iva_total" id="iva_total"
                        class="form-control" placeholder="Escribe el total a sumar de iva" value="{{iva_total_formatted}}">
                    </div>

                    <div class="mb-3">
                        <label for="client">Impuestos varios:</label>
                        {{ form.impuesto_vario }}
                    </div>

                    <div class="mb-3">
                        <label for="price">Total impuestos varios:</label>
                        <input type="number" name="impuesto_vario_total" id="impuesto_vario_total"
                        class="form-control" placeholder="Escribe el total a sumar de impuestos varios" value="{{impuesto_vario_total_formatted}}">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Editar
                    </button>
                </form>
            </div>
        </div>
    </main>
    
{% endblock %}